
/* ==========================
header design
==================== */


header ul.flex{
gap: 16px;

}

header ul li a{
    color: white;
    
    font-size:0.88rem ;
    display: inline-flex;
  align-items: center;
  justify-content: center;
    font-weight: 500;
transition: transform ease 0.4s;
}

header ul li a:hover{
   
    transform: scale(1.2);
    color:var(--blue) ;
    cursor: pointer;
    
}

header button{
font-size: 1.2rem
}
header.flex{
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1.2rem;
}
header.flex nav{
    background-color:  var(--bgHeader);
    padding: 0.77rem 1.6rem;
    border-radius: 55px;
    box-shadow: 1px 1px  40px #2323242a;
    max-width: 222px;     
}



header button.menu{
    display: none;
}

/*========================== 
icon button 
===============================*/
header .icon-menu, header .mode{
    background-color: transparent;
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    color: var(--subtitle);
    cursor: pointer;
    border: 1px solid #f4a5603f;
    transition: .2s;
    box-shadow: 1px 1px 40px rgba(35, 35, 36, 0.165);
}
header .icon-menu:hover, header .mode:hover{
    color: var(--title);
    border: 1px solid rgb(244,165,96);
}

header .icon-close{
    font-size: 1.5rem;
    color: var(--subtitle);
transition: 0.3s;
background-color: var(--secondary);
}
header .icon-close:hover{
    font-size: 1.8rem;
    color: var(--blue);
rotate: 180deg;
}


/*================== 
modal
====================*/
header .fixed{
    position: fixed;
    inset: 0;
    background-color: rgba(40, 40, 48, 0.91);
    backdrop-filter: blur(4px);
    z-index: 11111;
}


@keyframes mymove {
    0%   {scale:0;}
   50%{scale: 1.2;}
    100% {scale: 1;}
  } 



 ul.model{
animation: mymove 0.7s 1;    
width: 75%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: var(--secondary);
}
ul.model li{
    border-bottom: 1px solid var(--border);
    padding-bottom: .77rem;
    padding-top: .50rem;
}


ul.model li a{
    color: var(--blue);
     font-size: 1rem;
}

ul.model li:last-child{
    border: none;
}


ul.model li:first-child{
    text-align: right;
    border: none;
    padding-bottom: 0rem;
    padding-top: .2rem;
    margin-bottom: -1rem;
}


/* ============================
responsive media query 
===============================*/

@media (max-width: 700px) {
header.flex nav{display: none;}


header button.menu{
    display: block;
}



}






